<div class="player empty">
  <div class="player-container">
    <button class="player-toggle-playlist" aria-label="Toggle Playlist">
      <i class="icon">menu</i>
    </button>

    <div class="player-main">

      <div class="player-box">
        <div class="player-empty">
          Du kannst Tracks aus Alben mit dem <i class="icon">music</i>
          Symbol hierhin ziehen um sie anzuhören.
        </div>

        <div class="player-drop-target">
          <i class="icon">play</i> Abspielen
        </div>

        <div class="player-playing">
          <progress class="player-progress-buffer"
            aria-label="Buffer Progress"
            max=1></progress>
          <progress class="player-progress-play"
            aria-label="Play Progress"
            max=1></progress>
          <div class="player-info">
            <div class="player-title">{{title}}</div>
            <div class="player-artist">{{artist}}</div>
          </div>
          <div class="player-duration"></div>
        </div>
      </div>

      <div class="player-playlist-window">
        <div class="player-playlist"></div>
      </div>
    </div>

    <button class="player-control-play">
      <i class="icon"></i>
    </button>
  </div>
</div>
