<div class="track-context-menu">
  <div class="track-context-menu-controls">
    <button class="track-context-menu-play" data-action="play">
      <i class="icon">play</i> Anhören
    </button>
    <button class="track-context-menu-queue" data-action="queue">
      <i class="icon">plus</i> Hinzufügen
    </button>
  </div>
</div>
