/**
 * @component player
 *
 * @state empty
 * @state playing
 * @state over
 */

.player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  background: hsl(0, 0%, 4%);
}


.player-container {
  @extend .container;

  padding-top:     rhythm(0.5);
  padding-bottom:  rhythm(0.5);

  display: flex;
  align-items: stretch;
}

.player-main {
  flex-grow:  1;
  display: flex;
  flex-direction: column;
}

.player-box {
  font-size: 14px;

  height:     3em;
  padding:    0.6em 1em;

  display:      flex;
  align-items:  center;

  position: relative;
  background: hsl(0, 0%, 10%);
}

.player-empty {
  padding:    0 1em;
  font-size:  0.8em;
  color:      hsl(0,0%,30%);

  display: none;
  .player.empty & {
    display: block;
  }
}

.player-playing {
  z-index: 0;
  width: 100%;

  display: flex;
  .player.empty & {
    display: none;
  }
}

.player-info {
  flex-grow: 1;
}
.player-title {
  font-weight: bold;
}

.player-position-set {
  @include stretch;
  z-index: 1;
}

%player-progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
progress.player-progress-buffer {
  @extend %player-progress;
  @include progress-bar(hsl(0, 0%, 14%));
}
progress.player-progress-play {
  @extend %player-progress;
  @include progress-bar(hsl(0, 0%, 20%));
}


%player-control-icon {
  @include button-reset;

  width:  3em;
  height: 3em;
  text-align: center;
  flex-shring: 0;

  transition-property: color text-shadow;
  transition-duration: 0.15s;

  color: hsl(0, 0%, 20%);
  &:hover {
    color: hsl(0, 0%, 80%);
    text-shadow: 0 0 5px hsla(0, 0%, 80%, 0.3);
  }

  i {
    font-size: 2.2em;
  }
}

.player-toggle-playlist {
  @extend %player-control-icon;
}

.player-control-play {
  @extend %player-control-icon;

  & i:before {
    content: "play"
  }

  .player.playing & i:before {
    content: "pause"
  }
}


.player-drop-target {
  @include stretch;

  font-size:   font-scale(1);
  font-weight: bold;

  background: hsl(0, 0%, 12%);
  border-radius: 5px;
  border: 2px dashed $teal;

  display:          flex;
  align-items:      center;
  justify-content:  center;
  z-index: -1;

  html.drag-track & {
    z-index: 1;
  }

  .player.over & {
    border-style: solid;
  }

  &:before {
    content: "";
    @include stretch;
  }
}

.player-playlist-window {
  overflow: hidden;
  transition: height 0.3s;
}

.player-playlist {
  margin: rhythm(0.5) 0;

  font-size: font-scale(-1);
  line-height: 1.6em;
}

.player-playlist li {
  padding: 0 1em;
}

